body{
    
    position: fixed;
    bottom: 0;
}

#a0{
    height:auto;
    width: 700px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
#a1_blackbox{    
    width:25%;
    height:100px;
    background-color:#191919;
    margin:10px auto 20px auto;      
    
}

#a1_loc{
    
    
    color:white;
    padding-top: 20px;
    text-align: center;
    font-size:7px;    
    
}

#a1_hr{
    
    color: #D2D2D2;
    width:80%;
    height: .5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}



#a1_no{
    
    color:white;
    font-size:22px; 
    margin-top: 5px;
    vertical-align: top;
    display: inline-block;
    
}

#a1_13{    
    
    font-size:40px;     
    color:white;  
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    
    
}

#a1_anchor{
    text-decoration: none;
    
}

#a1_image{
    
    background:url(sayhello.png) top center no-repeat;  
    background-size:contain;
    width:100%;
    height:80px;
    
}


#a1_textImg{
    
    
    padding-top:40px; 
    text-align: center;
    text-decoration: none;
    font-size:10px; 
    
    
}



#a1_belowText{
    
    text-align: center;
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.5px;
    
}



#a1_button{
    
   
    padding-left:25px;
    padding-right:25px; 
    padding-top: 5px;
    padding-bottom:5px; 
}

#b0{
   
   height: auto; 
   background-color: black;
   width:700px;
   margin-left: -10px;
   margin-bottom: -10px;
  
}

#b1{
    color: white;
    width: 700px;
    
    
}

#b1_read{
    
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none; 
    font-size: 9px; 
    
    
}



#R1C1{
    border-bottom: .1em solid #D2D2D2;
    border-right: .1em solid #D2D2D2;
}

#R1C2{
    border-bottom: .1em solid #D2D2D2;
    padding-left:40px;
    padding-bottom: 5px;
}



#emailForm{
    padding-right: 50px;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#b1_button_signup{
    
    padding-left:40px;
    padding-right:40px; 
    padding-top: 7px;
    padding-bottom:7px; 

}



#R2C1{
    padding-left: 15px;
    
    
}

#R2C3{
    padding-left: 10px;
}



#footer_button{
    padding-left:20px;
    padding-right:20px; 
    padding-top: 4px;
    padding-bottom:4px; 
    font-size: 8px;
    
    
}

#txt_head{
    margin-top: -20px;
}

#txt_office{
    margin-top: -10px;
}

.goldentext{
    
    color: #C9B574;
 }

.whitebutton{
    background-color: white;
    border:2px solid #000000;
    font-size: 8px;
    color:black;
    text-decoration:none;
    
}

.whitebutton:hover{
    
    color: white;
    background-color: black;
}

.fontSize10{
    font-size:9px;
}

.fontSize8{
    font-size: 8px;
}

.fontSize12{
    font-size:11px;
}

.blackbutton{
    background-color: black;
    border:2px solid #FFFFFF;
    font-size: 10px;
    color:white;
    text-decoration:none;
    
}

.blackbutton:hover{
    
    color: black;
    background-color:white;
}

.sameLine{
    display: inline-block;
}

.footerText{
    color: white;
}

.letterSpacing{
    letter-spacing: 1px;
}

.centerAlign{
    text-align: center;
}

table{
    height:300px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.p_padding{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.colWhite{
    color: white;
}

.fontArial{
    font-family:"Arial";
}

.fontSerif{
    font-family:"sans-serif;
}

.marBottom{
    margin-bottom: -10px;
}



