#a0{
    height:auto;
    width: 700px;
}
#a1_blackbox{    
    width:22%;
    height:100px;
    background-color:#191919;
    margin:20px auto 0 auto;      
    
}

#a1_loc{
    
    color:white;
    padding-top: 20px;
    text-align: center;
    font-size:10px;    
    
}

#a1_hr{
    
    color: white;
    width:80%;
}

#a1_no{
    
    color:white;
    font-size:20px; 
    margin-top:0px;
    margin-left: 50px;  
    vertical-align: top;
    display: inline-block;
    
}

#a1_13{    
    
    font-size:35px;     
    color:white;  
    margin-top:0px;
    text-decoration: none;
    vertical-align: top;
    
    
}

#a1_anchor{
    text-decoration: none;
}

#a1_image{
    
    background:url(sayhello.png) top center no-repeat;  
    background-size: contain;
    width:100%;
    height:100%;
}


#a1_textImg{
    
    
    padding-top:60px; 
    text-align: center;
    text-decoration: none;
    font-size:10px; 
    
    
}

.goldentext{
    color: #C9B574;
    
    }

#a1_belowText{
    
    text-align: center;
    font-size: 10px;
}

.whitebutton{
    background-color: white;
    border:2px solid #000000;
    font-size: 15px;
    color:black;
    text-decoration:none;
    
}

.whitebutton:hover{
    
    color: white;
    background-color: black;
}

#a1_button{
    margin-left:300px;
    margin-top:10px;
    padding-left:35px;
    padding-right:35px; 
    padding-top: 5px;
    padding-bottom:5px; 
}

#b0{
   height: auto; 
   background-color: black;
   width:700px;
   margin-top: 15px;    
    
}
#b1{
    color: white;
}

